/*storesto css style*/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background-image: url('/media/bg.jpg');
}
a {
	color: #245199;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
table{
	width:100%;
	border: dashed;
	border-color: #D4E256;
	padding: 10px 10px 10px 10px;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
	background: #FFD21E;
	font-size: large;
}
.button{
	background-color: #E5E5E5;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	border: dotted 1px;
	border-color: #A0A0A0;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 15px 20px 100px 20px;
	background-color:#CDD326;/*#D4E256;*/
	font-size: small;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 940px;
	margin: -100px auto 0;
	height: 100px;
}