/*storesto css style*/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background-image: url('/media/bg.jpg');
}
a {
	color: #443C2E;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
#app{
	width:100%;
	/*border: dashed;*/
	border-color: #D4E256;
	padding: 10px 10px 10px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #D4E256;
}
table{
	width:100%;
	padding: 10px 10px 10px 10px;
}
input {
	vertical-align: middle;
	font-size: large;
}
select{
	vertical-align: middle;
	font-size: large;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 100px;
	background: #C1B4A2;
	padding-top: 30px;
	background-image: url('/media/header.jpg');
	box-shadow: 3px 3px 10px #6C6D33;
}
.menu{
	background-color: transparent;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	font-family: 'Lobster', serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	text-shadow: 1px 1px 1px #FFF2CE;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	/*color: #441204;*/
	color: #443C2E;
}
.menu_select{
	background-color: transparent;
	/*background-color: #7C5034;*/
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	font-family: 'Lobster', serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	text-shadow: 1px 1px 1px #423A24;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	/*border-bottom: dashed;*/
	color: #FFEA05;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	background-color:#CDD326;/*#D4E256;*/
	font-size: small;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 3px 8px 10px #6C6D33;
}
.temporary{
	/*color: #D718F4;*/
	color: #2053A0;
}
.recipelist{
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: middle;
  color: #40541A;
}
.ingredientlist{
  font-size:14px;
  vertical-align: middle;
  color: #40541A;
  text-decoration:none;
  line-height: 1.4;
}
.taglist{
  font-size:14px;
  vertical-align: middle;
  color: #40541A;	
}
.menulist{
  font-size: 26px;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  vertical-align: middle;
  color: #40541A;
}
.button{
	background-color: #F5FF47;
	padding: 3px 3px 3px 3px;
	border:  hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: #40541A;
}
.buttonunlike{
	/*background-color: #DEEDE2;*/
	background-color: #E1EF77;
	padding: 3px 3px 3px 3px;
	border:  hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: #40541A;
}
.buyerlist{
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
.captionmessage{
	font-size: medium;
	font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #40541A;
}
.cutstyle a {
	text-decoration: none;
	color: #000;
}
.cutstyle a:hover{
	text-decoration: line-through;
	color: #C40D0D;
}
.registerbutton{
		color: #FFFFFF;
		font-family: Arial;
		font-size: 20px;
		text-shadow: 1px 1px 1px #193351;
}
#message{
	background-color: #F5FF47;
	padding: 3px 3px 3px 3px;
	/*border: 1px solid #9E940B;*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	height:25px;
	color: #40541A;
	margin: 15px 0px 15px 0px ;
}
.timeline{
	border:  hidden;
	/*border-bottom-left-radius: 5px;*/
	/*border-bottom-right-radius: 5px;*/
	/*border-top-left-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
	/*background-color: #DDCE56;*/
	/*padding: 10px 10px 10px 10px;*/
	/*margin: 30px 30px 30px 30px;*/
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: #6D7245;
}
.clearbutton{
	background-color: #58B7D3;
	padding: 3px 3px 3px 3px;
	border: 1px solid #075B7A;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: #FFFFFF;
}
.indexcaption{
		font-size: 20px;
		color: #193351;
		text-shadow: 1px 1px 1px #F0FFD3;
		/*background-color:#567AA3;*/
}
.category{
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: middle;
  color: #352A12;
  text-shadow: 1px 1px 1px #F0FFD3;
  font-style: italic;
}
